<h2>Research List</h2>
<ul>
{{#each model as |research|}}
  <li>
    <p>Private Research?: {{research.hide}}</p>
    <p>Title: {{research.title}}</p>
    <p>Created: {{research.createdAt}}</p>
    <p>Modified: {{research.updatedAt}}</p>
    <p>Description: {{research.description}}</p>
    <p>Directions: {{research.directions}}</p>
    <p>{{research.announcement.updatedAt}} Announcement: {{research.announcement.message}}</p>
    <p>Editable?: {{research.editable}}</p>
  </li>
{{/each}}
</ul>
